.sessao-2 {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.cc-familia {
  position: relative;
}

.img-familia {
  max-width: 580px;
  z-index: 4000;
  position: absolute;
  top: -5px;
  left: -15px;
}

.cc-inputs {
  max-width: 300px;
  margin-top: 80px;
}

.cc-inputs input {
  width: 100%;
  font-size: 18px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 18px 20px;
  display: block;
  margin: 8px auto;
  box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
}

.btn-queroMais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #e28529;
  color: #e7b685;
  padding: 18px 20px;
  border-radius: 8px;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
}

.btn-queroMais img {
  max-width: 20px;
}

.cc-sessao-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding-left: 615px;
  max-width: 100%;
  margin-top: 80px;
}

.cc-info {
  max-width: 100%;
  width: 240px;
  margin-right: 0px;
}
.cc-info img {
  display: block;
  transform: scaleX(-1);
  max-width: 30px;
}

.cc-info p {
  color: #d6dee3;
  font-size: 18px;
  line-height: 1.3;
}

.cc-numeros {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cc-numeros span {
  font-size: 22px;
  color: #d6dee3;
}

.cc-numeros sub {
  font-size: 45px;
  font-weight: bold;
}
